body{
  background-color:#F5F5F5	;
}

.header{
  background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}

.maintitle{
  color: #1D8FE1;
}

#error_explanation{
  color: #DC3545
}

table{
  background-color: #fff;
}

a {
  color:#212529;
}

.newsession-form{
  max-width: 400px;
  margin: 0 auto 1rem;
}

.form-group {
  max-width: 600px;
  margin: 0 auto 1rem;
}

.book-user {
  max-width: 600px;
  p{
    margin-bottom: 0.5rem;
  }
  &__btn {
    cursor: pointer;
  }
}
