// button
.submitBtn {
  background: #17a2b8;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: opacity .5s;
  cursor: pointer;
  &:hover {
    opacity: .5;
  }
}
// sign_up, sign_in
.titleArea {
  margin-top: 5vh;
  text-align: center;
  h1 {font-size: 2rem;}
  margin-bottom: 5vh;
}
.signupForm {
  .form-group {
    margin: 0 auto 1rem auto;
    max-width: 500px;
    .form-control {
      background: #f6f8fa;
    }
  }
}

// devise_shared_links
.acountPage_link {
  & > a {
    color: #0075c1;
  }
}