h1 費目と予算の追加
= link_to '費目と予算一覧へ戻る', book_categories_path, class: 'btn btn-info mb-5'

=form_with model: [@book, @category], local: true do |f|
  .form-group
    =f.label :name, "費目"
    =f.text_field :name, class: 'form-control'
  .form-group
    =f.label :budget, "予算"
    =f.number_field :budget, class: 'form-control'
  .text-center
    =f.submit class: 'btn btn-info'